<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>second</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle @slidelefttitle>Awesome Subtitle</ion-card-subtitle>
      <ion-card-title @slidelefttitle>Awesome Title</ion-card-title>
    </ion-card-header>
    <ion-card-content @fadein>
      <img src="https://cdn.pixabay.com/photo/2015/03/26/10/30/landscape-691462_960_720.jpg">
    </ion-card-content>
  </ion-card>

</ion-content>
